body{
  background: linear-gradient(217deg, rgba(10,10,10,1), rgba(255,0,0,0) 90%),
              linear-gradient(127deg, rgba(10,10,10,1), rgba(0,255,0,0) 70%),
              linear-gradient(336deg, rgba(150,10,10,1), rgba(0,0,255,0) 40%),
              linear-gradient(23deg, rgba(10,10,10,1), rgba(255,255,0,0) 70%);


  margin: 0;
  padding: 0;
  display: flex;
  min-height:100vh;
  font-family: 'Poppins', sans-serif;

}
.container{
  width: 100%;
}
.testata{
  background: #111111;
  height: 20vh;
  background-image: url(https://www.giuseppecapicotto.com/img/minilogo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 30px 30px;
}
/*_____________________________________effetto css portfolio___________________________________________*/
.portfolio
{
  margin-top: 1vh;
  z-index: 2;
}
.portfolio .box
{
  position: relative;
  width: 24vw;
  height: 24vw;
  grid-row-end: 400px;
  /*background: #ccc;*/
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
  box-sizing: border-box;
  padding: 2vh;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, .2);
}
.portfolio .box:hover
{
  box-shadow: -20px 50px 100px rgba(0, 0, 0, .5);
}
.portfolio .box.box1:hover
{
  opacity: 1;
  background: linear-gradient(#03a9f4,#e91e63);
}
.portfolio .box.box2:hover
{
  opacity: 1;
  background: linear-gradient(#fc3c2b,#19fd36);
}
.portfolio .box.box3:hover
{
  opacity: 1;
  background: linear-gradient(#ffc107,#e91e63);
}
.portfolio .box.box4:hover
{
  opacity: 1;
  background: linear-gradient(#050dfa,#edf041);
}
/*_____________________________________fine effetto css portfolio___________________________________________*/
.cvlink{
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 96vw;
  height: 25vw;
  box-sizing: border-box;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, .5);
  padding: 2vh;
  }
  .cvlink:hover{
    background-color: red;
  }
/*_____________________________________effetto css cv*_____________________________________*/
.cv{
  margin-top: 1vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cv .column{
  width: 25%;
  height: 50%;
  float: left;
  border-top: 2px solid rgba(0, 0, 0, .5);
  border-left: 2px solid rgba(0, 0, 0, .5);
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  box-sizing: border-box;
  z-index: 1;
}

.cv .column:last-child{
border-right: 2px solid rgba(0, 0, 0, .5);
}

.cv .column .content{
  position: relative;
  height: 100%;
}

.cv .column .content h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 20vh;
  background: rgba(0,0,0,.1);
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, .2);
  font-size: 3vw;
}
.cv .column.active .content h1{
opacity: 0;
}

.cv .column .content .boxcv{
position: absolute;
top: 20%;
transform: translateY(100%);
box-sizing: border-box;
padding-left: 4vw;
padding-right: 4vw;
background: rgba(200, 200, 200, .5);
text-align: center;
transition: 0.5s;
opacity: 0;
}

.cv .column.active .content .boxcv{
padding-top: 4vw;
padding-bottom: 4vw;
opacity: 1;
transform: translateY(-50%);
}

.cv .column .content .boxcv h2{
margin: 0;
padding: 0;
font-size: 2vw;
color: #262626;
}

.cv .column .content .boxcv p{
color: #262626;
font-size: 1vw;
}

.cv .column.active .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.cv .column.active .bg.bg1{
  background: url(https://www.giuseppecapicotto.com/img/school);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s
}

.cv .column.active .bg.bg2{
  background: url(https://www.giuseppecapicotto.com/img/work);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s
}

.cv .column.active .bg.bg3{
  background: url(https://www.giuseppecapicotto.com/img/certification);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s
}

.cv .column.active .bg.bg4{
  background: url(https://www.giuseppecapicotto.com/img/other);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s
}
/*_____________________________________fine effetto css cv*_____________________________________*/
.contatti{

    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 96vw;
    height: 40vw;
}

.directmail{
  width: 100%;
  margin-bottom: 2vh;
}

.directmail form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.directmail input{
  margin-left: auto;
  margin-right: auto;
  width: 31vw;
  height: 3vh;
  font-size: 2vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px 3px;
}
.directmail input.invio{
  width: 10vw;
  height: 5vh;
  border-radius: 30px 30px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 1vh;
}
.directmail input.invio:hover{
  background: rgba(255, 255, 255, 0.7);
}

.directmail textarea{
  width: 96vw;
  height: 20vw;
  margin-top: 1vh;
  font-size: 2vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px 3px;
}

.social{
  width: 96vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
}



.social ul{
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.5);
}
.social .facebook{
  margin: 1vw;
  width: 5vh;
  height: 5vh;
  background: url(https://www.giuseppecapicotto.com/img/fb);
  background-size:cover;
}

.social .instagram{
  margin: 1vw;
  width: 5vh;
  height: 5vh;
  background: url(https://www.giuseppecapicotto.com/img/inst);
  background-size:cover;
}


/*--------------------------- SMARTPHONE ----------------------*/
@media screen and (orientation: portrait) and (max-width: 1023px)  {
.testata{
    border-radius: 0px 0px;
  }
.cv{
  display:none;
}

.descrizione{
width: 29vw;
height: 18.7vh;
color: #ffffff;
align-self: left;
padding-top: 10px;
padding-left: 10px;
font-size: 2.6vw;
}
.portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.portfolio .box{
  width: 48vw;
  height: 48vw;
}
    .verifica{
      background-color: yellow;
      z-index: 3;
      width: 100%;
      height:30px;
      display: none;
    }
}

/*------------------------------SMARTPHONE LANDSCAPE----------------------------*/
@media screen and (orientation: landscape) and (max-width: 1024px) {


.descrizione{
width: 60vw;
height: auto;
color: #ffffff;
align-self: left;
padding-top: 10px;
padding-left: 10px;
font-size: 2vw;
}
.portfolio
{
  display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
.cvlink{
  display: none;
}
    .verifica{
      background-color: red;
      z-index: 3;
      width: 100%;
      height:30px;
      display: none;
    }

}

/*-----------------------------------------------PC HD---------------------------------*/

@media screen and (min-width: 1024px) {
  .container{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  }

  .descrizione{
  width: 60vw;
  height: auto;
  color: #ffffff;
  align-self: left;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 2vw;
  }
  .portfolio
  {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .cvlink{
    display: none;
  }
      .verifica{
        background-color: pink;
        z-index: 3;
        width: 100%;
        height:30px;
        display: none;
      }
}
/*--------------------------------PC UHD-------------------------------------------*/
@media screen and (min-width: 2560px) {
  .container{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  }

  .descrizione{
  width: 60vw;
  height: auto;
  color: #ffffff;
  align-self: left;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 2vw;
  }
  .portfolio
  {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  }
  .cvlink{
    display: none;
  }
      .verifica{
        background-color: blue;
        z-index: 3;
        width: 100%;
        height:30px;
        display: none;
      }
}
