/*-----------------------------------css develhope-----------------------------------*/
body {
    background: linear-gradient(217deg, rgb(97, 97, 97), rgba(255, 0, 0, 0) 90%),
      linear-gradient(127deg, rgb(142, 204, 201), rgba(0, 255, 0, 0) 70%),
      linear-gradient(336deg, rgb(218, 17, 17), rgba(0, 0, 255, 0) 40%),
      linear-gradient(23deg, rgb(150, 221, 92), rgba(255, 255, 0, 0) 70%);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
  }
.descrizionedevelhope {
    height: 18.7vh;
    color: #ffffff;
    align-self: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.7vw;
  }
  
  .testatadevelhope{
    background: #111111;
    padding-right: 1em;
    height: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 30px 30px;
   }

   .container {
    width: 100%;
  }

  #headcircle{
     border-radius: 50%;
     float: right;
     width: 2em;
     height: 2em;
     background-color: aqua;
   }

   #headcircle:hover{
    border-radius: 50%;
    float: right;
    width: 2em;
    height: 2em;
    background-color: red;
   }


  p:hover {
    color: rgb(178, 64, 255);
  }

  .name {
    color:darkblue;
  }

  
   /*-----------------------------------end css develhope-----------------------------------*/